/* Hide scrollbar Chrome, Safari and Opera */
* {
  -ms-overflow-style: none;
}

/* Hide scrollbar IE and Edge */
*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bolder;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#bouncing-ball {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: transparent;
  top: 0;
  left: 0;
}
